KIS_APP_KEY=
KIS_APP_SECRET=
KIS_SYMBOLS=237350
PORTFOLIO_INGEST_URL=https://stock-management-private-api.household-account-asher.workers.dev
PORTFOLIO_INGEST_TOKEN=
# KIS_WS_URL=ws://ops.koreainvestment.com:21000/tryitout
